@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root, #lightmode {
    --bg-light: #FCFCFC;
    --bg-light-reverse: red;
    --bg-dark: #F6F6F6;
    --bg-dark-reverse: red;
    --color-dark: #1A1A1A;
    --color-dark-reverse: #F9F9F9;
    --color-light: #7D7D7E;
    --color-light-reverse: #FEFEF6;
    --border: #F2F2F2;
    --hover: #EAE8FD;
    --gradient: linear-gradient(103.16deg, #C4C4C4 0%, #7C62FF 0.01%, #A99AFF 100%);
    --font: 'Poppins', sans-serif;
    --spacing: 1.25em;
    --spacing-sm: .6em;
    --line-height: 1.2;
    --radius: .75em;
    --radius-sharp: 1.5em;
    --animate: all ease-in-out .3s;
}

#darkmode {
    --bg-light: #323131;
    --bg-light-reverse: red;
    --bg-dark: #2E2A29;
    --bg-dark-reverse: red;
    --color-dark: #1A1A1A;
    --color-dark-reverse: #F9F9F9;
    --color-light: #7D7D7E;
    --color-light-reverse: #FEFEF6;
    --border: #413f3f;
    --hover: #EAE8FD;
    --gradient: linear-gradient(103.16deg, #C4C4C4 0%, #7C62FF 0.01%, #A99AFF 100%);
    --font: 'Poppins', sans-serif;
    --spacing: 1.25em;
    --spacing-sm: .6em;
    --line-height: 1.2;
    --radius: .75em;
    --radius-sharp: 1.5em;
    --animate: all ease-in-out .3s;
}

* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--color-light);
}

.link {
    color: red;
    margin-right: 10px;
}